body,
html {
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.serif {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

/* Navbar */
nav {
  position: fixed;
  background-color: #fff;
  width: 250px;
  height: 100%;
  font-family: proxima-nova, "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /* border-right: 5px solid #000; */
}

a#lhd {
  text-decoration: none;
  color: #000;
  letter-spacing: 1.5px;
  font-size: 14pt;
  padding: 10px;
  margin: 20px 0 20px 20px;
  display: block;
}

a#lhd:hover {
  color: #a67714;
}

ul.nav-menu {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  overflow: hidden;
}

ul.nav-menu li {
  display: block;
  margin-left: auto;
  letter-spacing: 2px;
  padding: 10px 10px;
  cursor: pointer;
  width: 250px;
}

ul.nav-menu li:hover a {
  color: #a67714;
}

ul.nav-menu li a {
  letter-spacing: 2px;
  font-size: 11pt;
  color: #000;
  text-decoration: none;
}

/* Off-canvas menu specific */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

.nav-trigger+label,
.container {
  transition: left 0.2s;
}

.nav-trigger:checked+label {
  left: 265px;
}

.nav-trigger:checked~.container {
  left: 250px;
}

/* Container (All content) */
.container {
  padding: 60px;
  min-height: 100%;
  /* min-width: 100%; */
  background-color: #fff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  /* z-index: 1; */
}

/* Homepage */
.nav-placeholder {
  height: 15em;
}

div.logo-banner {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 3em 0;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 150px;
  width: 150px;
}

/* Parallax effect */

.parallax-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center
}

.parallax-image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10em;
}

.background-img1 {
  background-image: url("./public/images/home_overhead_mug.jpg");
}

.background-img2 {
  background-image: url("./public/images/home_holding_mug.jpg");
}

.background-img3 {
  background-image: url("./public/images/home_sweater_chair.jpg");
}

.parallax-divide {
  position: relative;
  text-align: left;
  height: auto;
  justify-content: flex-start;
}

.h1-parallax {
  font-family: proxima-nova !important;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .17em;
  hyphens: none;
  padding: 4em 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}

.h3-divide {
  color: #000000;
  font-family: Georgia, serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.6em;
  padding: 4em 1em;
}

footer {
  width: 100%;
  height: 10em;
  color: #000;
  background-color: #f1f3f4;
}

h6.footer-info {
  font-family: proxima-nova;
  font-weight: 500;
  font-style: normal;
  font-size: 12.5px;
  letter-spacing: .06em;
  line-height: 2em;
  hyphens: none;
  padding: 2em 1.5em;
}

@media all and (min-width: 600px) {
  .parallax-image {
    min-height: 18em;
  }

  .h1-parallax {
    font-size: 1.3em;
  }

  .h3-divide {
    font-size: 2em;
    padding: 4em 1em 4em 5em;
  }

  .logo {
    height: 200px;
    width: 200px;
  }
}

@media all and (min-width: 900px) {
  .parallax-image {
    min-height: 25em;
  }

  .h1-parallax {
    font-size: 1.6em;
  }

  .h3-divide {
    padding: 4em 1em 4em 12em;
  }
}

@media all and (min-width: 1050px) {
  .parallax-image {
    min-height: 35em;
  }

  nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    font-family: proxima-nova, "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    top: 0;
    left: 0;
    padding: 50px 0 0 0;
    height: 50px;
  }

  a#lhd {
    text-decoration: none;
    color: #000;
    letter-spacing: 1.5px;
    font-size: 14pt;
    margin: 0 0 0 50px;
    padding: 10px;
    display: inline-block;
  }

  a#lhd:hover {
    color: #a67714;
  }

  ul.nav-menu {
    list-style-type: none;
    margin: 0 50px 0 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }

  ul.nav-menu li {
    display: inline-block;
    margin-left: auto;
    letter-spacing: 2px;
    padding: 10px 10px;
    cursor: pointer;
    width: unset;
  }

  ul.nav-menu li:hover a {
    color: #a67714;
  }

  ul.nav-menu li a {
    letter-spacing: 2px;
    font-size: 11pt;
    color: #000;
    text-decoration: none;
  }

  label[for="nav-trigger"] {
    z-index: 0;
  }
}